# ROS build and development files
build/
devel/
install/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

.vscode/c_cpp_properties.json

# Built Visual Studio Code Extensions
*.vsix

# Logs
log/

# ROS package specific files
*.pyc
*.swp
*.bak
*.log
rosbag2*
# Catkin workspace files
.cproject
.project
.settings/
.rosinstall
.rosinstall.bak

# Other common ignores
*.DS_Store


# fro python
*.pyc
*.pyo
*.pyd
__pycache__/
.venv/
