[Unit]
Description=CAN init script
After=basic.target

[Service]
Type=oneshot
ExecStart=/home/sdrac/sdrac_controler/start_can.sh
RemainAfterExit=true
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target